@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Poppins:400,500,700,800');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* NAVBAR */

.navbar {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: normal;
}

.bg-custom {
  background: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-size: 24px !important;
}

.navbar-nav {
  margin-left: 50px;
}

/* AKHIR NAVBAR */

/* DESKTOP VERSION */

@media (min-width: 992px) {
  .nav-link {
    margin: 15px;
    font-size: 12px;
    text-transform: uppercase;
  }

  .bg-custom {
    background: rgba(0, 0, 0, 0.5);
  }

  .banner {
    height: 960px !important;
    background-size: cover;
    background-position: center !important;
    margin-top: -100px !important;
  }
  .banner-content {
    padding-top: 316px !important;
    text-align: center;
  }

  .banner-content h1 {
    font-size: 72px !important;
  }

  /* AWAL JUMBOTRON 2 DESKTOP */

  .row-margin {
    padding-top: 250px !important;
    padding-right: 100px;
    padding-left: 180px;
  }

  .text-games {
    font-size: 56px !important;
    font-weight: 400;
    font-family: 'Arial';
  }

  .img1 {
    width: 750px !important;
  }

  /* AKHIR JUMBOTRON 2 DESKTOP */

  /* AWAL JUMBOTRON 3 DESKTOP */

  .banner-3 {
    background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080a0b 99.74%), url(./Asset/bg\ image\ 3.png);
    height: 880px !important;
    margin-top: -10px;
    background-size: cover;
    background-position: center;
  }

  .row-custom {
    padding-top: 160px;
    padding-left: 780px !important;
  }

  .row-custom h1 {
    color: #ffb548;
    font-size: 28px !important;
    font-weight: 400;
    margin-top: 70px;
    margin-left: 30px;
  }

  .row-custom li {
    color: white;
  }

  .row-custom p {
    color: white;
    font-size: 18px !important;
    margin-left: 30px;
  }

  /* AKHIR JUMBOTRON 3 DESKTOP */

  .banner-4 {
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080a0b 99.74%), url(./Asset/bg\ image\ 4.png);
    height: 961px !important;
    background-position: center !important;
    background-size: cover !important;
  }

  .text-edit {
    font-size: 56px;
    text-transform: uppercase;
    font-family: 'Arial';
    font-weight: 400;
    margin-top: 100px !important;
    margin-left: 121px !important;
    letter-spacing: 3px;
  }

  .table-bordered {
    width: 45% !important;
    height: 400px !important;
    margin-left: 121px !important;
    margin-top: 50px !important;
  }

  /* AWAL JUMBOTRON 5 TOP SCORES DESKTOP */
  .banner-5 {
    height: 960px !important;
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080a0b 99.74%), black;
  }

  .banner-5 p {
    color: white;
    font-size: 18px;
  }

  .banner-5 .text-top-score {
    margin-left: 125px !important;
  }

  .banner-5 h1 {
    margin-left: 125px !important;
  }

  .card {
    width: 452px;
    margin-top: 550px !important;
  }

  .top-scores {
    align-items: center;
    margin-top: 250px !important;
  }

  . .text-name {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px !important;
  }

  .text-job {
    line-height: 4px !important;
  }

  .text-desc {
    font-size: 16px !important;
  }

  .float {
    float: left;
    margin-right: 30px;
  }

  .text-date {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
  }

  .card-body {
    position: relative;
  }

  .fa-twitter {
    right: 30px;
    top: 30px;
    position: absolute;
  }

  .margin-card-1 {
    margin-left: 100px;
  }

  .margin-card-3 {
    margin-left: 150px;
  }
  .button-top-score {
    width: 260px;
    height: 50px;
    font-size: 20px !important;
    text-transform: uppercase;
    font-family: 'Arial';
    font-weight: 400 !important;
    margin-top: 28px;
    margin-left: 121px !important;
  }

  .banner-6 {
    background-color: black;
    height: 958px !important;
    background-size: cover;
    background-position: left;
    padding-top: 300px;
    position: relative;
  }

  .banner-6 img {
    position: absolute;
    left: 150px !important;
    top: 250px !important;
  }
  /* AKHIR JUMBOTRON 5 TOP SCORES DESKTOP */

  .footer-links {
    background-color: black;
    height: 80px;
    display: flex !important;
    margin-left: 550px !important;
  }

  .text-link {
    margin-left: 30%;
  }

  .text-link a {
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Arial';
    margin-left: 20px !important;
    text-decoration: none;
  }

  .logo-brands a {
    margin-left: 30px !important;
  }

  .text-footer-2 a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
}

/* AKHIR DESKTOP VERSION */

/* AWAL JUMBOTRON 1 */

.banner {
  height: 150vh;
  background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090a 99.74%), url(./Asset/Rectangle.png);
  background-size: cover;
  background-position: center;
  text-align: center !important;
  align-items: center !important;
  margin-top: -300px;
}

.banner-content {
  padding-top: 360px;
  text-align: center;
}

.banner-content h1 {
  font-size: 50px;
  font-family: 'Arial';
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.banner-content p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding-top: 28px;
  letter-spacing: 2px;
}

/* utility */

.button {
  width: 260px;
  height: 50px;
  font-size: 20px !important;
  text-transform: uppercase;
  font-family: 'Arial';
  font-weight: 400 !important;
  margin-top: 28px;
}

.button-top-score {
  width: 260px;
  height: 50px;
  font-size: 20px !important;
  text-transform: uppercase;
  font-family: 'Arial';
  font-weight: 400 !important;
  margin-top: 28px;
  margin-left: 50px;
}

/* utility */

.text-story {
  margin-top: 200px;
  color: white;
  font-size: 14px !important;
}

.scroll-down {
  width: 10px;
  height: 10px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid rgb(255, 255, 255);
}

/* AKHIR JUMBOTRON 1 */

/* AWAL JUMBOTRON 2 */

.banner-2 {
  background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080a0b 99.74%), linear-gradient(194deg, rgba(1, 0, 11, 0.8029805672268908) 0%, rgba(0, 0, 0, 0.9234287464985994) 100%),
    url(./Asset/bg\ image\ 2.png);
  height: 120vh;
  margin-top: -10px;
}

/* JUMBOTRON 2 */

.row-margin {
  padding-top: 200px;
}

.text-special {
  font-size: 24px;
  font-family: 'Arial';
  font-weight: 400;
}

.text-games {
  font-size: 35px;
  font-weight: 400;
  font-family: 'Arial';
}

.img1 {
  width: 450px;
}

/* AKHIR JUMBOTRON 2 */

/* AWAL JUMBOTRON 3 */

.banner-3 {
  background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080a0b 99.74%), url(./Asset/bg\ image\ 3.png);
  height: 120vh;
  margin-top: -10px;
  background-size: cover;
  background-position: right;
}

.row-custom {
  padding-top: 180px;
  padding-left: 120px;
}

.dot-wrapper {
}

.dot-child {
  width: 20px !important;
  float: left;
  margin-top: 77px !important;
  margin-right: 15px !important;
}

.row-custom h1 {
  color: #ffb548;
  font-size: 24px;
  font-weight: 400;
  margin-top: 70px;
  margin-left: 30px;
}

.row-custom li {
  color: white;
}

.row-custom p {
  color: white;
  font-size: 12px;
  margin-left: 36px;
}

/* AWAL JUMBOTRON 4 */

.banner-4 {
  background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080a0b 99.74%), url(./Asset/bg\ image\ 4.png);
  height: 150vh;
  background-position: left;
  background-size: cover;
}

.margin-custom {
  text-align: center;
  align-items: center;
  padding-top: 100px;
}

.text-edit {
  font-size: 46px;
  text-transform: uppercase;
  font-family: 'Arial';
  font-weight: 400;
  margin-top: 100px;
  margin-left: 50px;
}

@media (max-width: 568px) {
  .table-content-sys {
    width: 400px !important;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
  }
}

.table-content-sys h2 {
  color: #ffb548;
}

.table-content-sys p {
  color: white;
}

/* AKHIR JUMBOTRON 4 */

/* AWAL JUMBOTRON 5 */
.banner-5 {
  height: 180vh;
  background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080a0b 99.74%), url(./Asset/top-score-bg.png);
}

.banner-5 p {
  color: white;
  font-size: 18px;
  margin-left: 125px;
}

.card {
  width: 452px;
  margin-top: 550px !important;
}

.top-scores {
  align-items: center;
  margin-top: 250px !important;
}

. .text-name {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px !important;
}

.text-job {
  line-height: 4px !important;
  opacity: 0.5;
}

.text-desc {
  font-size: 16px !important;
  position: absolute;
  left: 0;
  margin-top: 20px;
}

.float {
  float: left;
  margin-right: 30px;
  width: 70px;
  border: 3px solid #ffb548;
}

.text-date {
  opacity: 0.5;
  font-size: 13px !important;
  font-weight: 400;
  margin-top: 90px;
}

.card-body {
  position: relative;
}

.fa-twitter {
  right: 30px;
  top: 30px;
  position: absolute;
}

/* AKHIR JUMBOTRON 5 */

/* AWAL JUMBOTRON 6 */

.banner-6 {
  background-color: black;
  height: 230vh;
  background-size: cover;
  background-position: left;
  padding-top: 300px;
}

.banner-6 img {
}

.input-custom {
  width: 80% !important;
  margin-left: 48px;
}

.text-banner-6 {
  width: 80%;
}

.text-edit-news {
  font-size: 56px;
  font-family: 'Arial';
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 50px;
}

/* AKHIR JUMBOTRON 6 */

.bg-custom-2 {
  background-color: black;
  position: relative;
}

.navbar-nav {
  font-size: 12px;
}

/* AWAL FOOTER */

.footer-links {
  background-color: black;
  height: 80px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 14px;
  padding-bottom: 20px;
}

.text-link {
  margin-left: 10px;
}

.text-link a {
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Arial';
  margin-left: 20px !important;
  text-decoration: none;
}

.logo-brands a {
  margin-left: 20px;
}

.fa-brands {
  color: white !important;
  width: 20px;
  height: 20px;
}

.end-footer {
  background-color: black;
  height: 50px;
}

.line {
  border: 1px solid white;
  opacity: 0.5;
  width: 80rem;
  text-align: left;
}

.text-footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.text-footer-1 {
  margin-top: 7px;
}

.text-footer-1 p {
  color: white;
  font-size: 10px;
  opacity: 0.5;
}

.text-footer-2 {
  margin-left: 20px;
}

.text-footer-2 a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 10px;
  text-align: center;
}
